<footer class="footer">
  <div class="container footer-container">
    <div class="footer-main-block">
      <div class="footer-logo-section">
        <a
          class="footer-logo-link"
          href="/index.html"
          aria-label="Go to homepage"
        >
          <svg class="footer-icon" width="168" height="16">
            <use href="image/sprite.svg#icon-logo"></use>
          </svg>
        </a>
        <p class="footer-logo-text">
          Whether you're looking for a healthy snack or a thoughtful gift, our
          fruit baskets are the perfect choice.
        </p>
      </div>
      <div class="footer-menu-and-contacts">
        <ul class="footer-menu-list">
          <li class="footer-menu-item">
            <a class="footer-menu-link" href="#how-it-works">how it works</a>
          </li>
          <li class="footer-menu-item">
            <a class="footer-menu-link" href="#vegetables">vegetables</a>
          </li>
          <li class="footer-menu-item">
            <a class="footer-menu-link" href="#reviews">reviews</a>
          </li>
        </ul>
        <ul class="footer-contacts-list">
          <li class="footer-contacts-item">
            <a class="footer-contacts-link" href="tel:+380684439426"
              >+380 (68) 443-94-26</a
            >
          </li>
          <li class="footer-contacts-item">
            <a
              class="footer-contacts-link"
              target="_blank"
              href="https://www.google.com.ua/maps/place/Varex+Imaging+Visitor+Entrance/@40.7332053,-111.9617062,17z/data=!3m1!4b1!4m6!3m5!1s0x8752f35bbcfb1369:0x260ab4842496c9e4!8m2!3d40.7332053!4d-111.9591313!16s%2Fg%2F1tcxvqmt?hl=ru&entry=ttu&g_ep=EgoyMDI0MTIxMS4wIKXMDSoASAFQAw%3D%3D"
            >
              1678 S. Pioneer Road Salt Lake City UT 84104
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer-policy-list">
      <ul class="footer-privacy-list">
        <li class="footer-privacy-item">
          <a href="/index.html" class="footer-privacy-link"> Privacy Policy </a>
        </li>
        <li>
          <a href="/index.html" class="footer-privacy-link">
            Cookie settings
          </a>
        </li>
      </ul>
      <p class="footer-policy-item">&copy;Green Harvest 2023</p>
    </div>
  </div>
</footer>
