<header>
  <div class="container header-container">
    <nav class="navigation">
      <a class="logo-link" href="index.html" aria-label="Go to homepage">
        <svg class="logo-icon">
          <use href="image/sprite.svg#icon-logo"></use>
        </svg>
      </a>

      <ul class="nav-list">
        <li class="nav-item">
          <a href="#how-it-works" class="nav-link">How It Works</a>
        </li>
        <li class="nav-item">
          <a href="#vegetables" class="nav-link">Vegetables</a>
        </li>
        <li class="nav-item">
          <a href="#reviews" class="nav-link">Reviews</a>
        </li>
      </ul>
    </nav>

    <a class="buy-button button-text" href="#shopNow"> shop now </a>

    <button
      class="menu-btn"
      type="button"
      aria-label="Open menu"
      data-mobileMenu-open
    >
      <svg class="menu-icon">
        <use href="image/sprite.svg#icon-mobile-menu"></use>
      </svg>
    </button>
  </div>
</header>
