<section class="how-it-works-section" id="how-it-works">
  <div class="container">
    <h2 class="visually-hidden">How it works</h2>
    <div class="how-it-works-for-flex">
      <div class="how-it-works-wrapper">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              /image/how-it-works/imagehiw-desk@1x.webp 1x,
              /image/how-it-works/imagehiw-desk@2x.webp 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /image/how-it-works/imagehiw-tab@1x.webp 1x,
              /image/how-it-works/imagehiw-tab@2x.webp 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /image/how-it-works/imagehiw-mob@1x.webp 1x,
              /image/how-it-works/imagehiw-mob@2x.webp 2x
            "
          />
          <img
            src="/image/how-it-works/imagehiw-desk@1x.webp"
            alt="image how it works"
            width="335"
            height="452"
            class="how-it-works-image"
            loading="lazy"
          />
        </picture>
      </div>
      <div class="how-it-works-all-text">
        <p class="how-it-works-title">
          To order your <span class="how-it-works-span">vegetable</span> basket,
          simply follow these <span class="how-it-works-span">easy steps</span>
        </p>
        <p class="how-it-works-text">
          Our baskets are assembled with care and delivered straight to your
          doorstep, so you can enjoy the taste of fresh fruit without ever
          leaving your home.
        </p>
        <ol class="how-it-works-list">
          <li class="how-it-works-item">
            <div class="how-it-works-item-text">
              Just choose
              <span class="how-it-works-span-li">the vegetable</span>
              you want to order by clicking on the checkboxes
              <span class="how-it-works-span-li">next to it.</span>
            </div>
          </li>
          <li class="how-it-works-item">
            <div class="how-it-works-item-text">
              Click on <span class="how-it-works-span-li">the basket</span> and
              fill out the form.
            </div>
          </li>
          <li class="how-it-works-item">
            <div class="how-it-works-item-text">
              Sit back and relax! Your
              <span class="how-it-works-span-li">fresh vegetables</span> basket
              will be delivered.
            </div>
          </li>
        </ol>
      </div>
    </div>
  </div>
</section>
