<div class="backdrop" data-mobileMenu>
    <div class="mobile-menu">
        <div class="container mobile-menu-container">
            <button type="button" class="mobile-menu-close-btn" data-mobileMenu-close>
                <svg class="close-btn-icon" width="32" height="32">
                  <use href="image/sprite.svg#icon-close-btn"></use>
                </svg>
            </button>
            <nav class="nav">
                <ul class="mobile-menu-nav-list">
                    <li class="mobile-menu-nav-item"><a href="#how-it-works" class="mobile-menu-nav-link">How It Works</a></li>
                    <li class="mobile-menu-nav-item"><a href="#vegetables" class="mobile-menu-nav-link">Vegetables</a></li>
                    <li class="mobile-menu-nav-item"><a href="#reviews" class="mobile-menu-nav-link">Reviews</a></li>
                </ul>
            </nav>
            <a class="mobile-menu-shop-btn" href="#shopNow">Shop now</a>
        </div>
    </div>
</div>