<section class="vegetables-section" id="vegetables">
  <div class="container container-vegetables">
    <h2 class="vegetables-title">
      Organic <span class="vegetables-span">vegetables</span>
    </h2>
    <p class="vegetables-text">
      Our organic vegetables are hand-picked from local farms and delivered
      straight to your doorstep, ensuring that you get the freshest and most
      nutritious produce possible.
    </p>
    <ul class="vegetables-list">
      <li class="vegetables-list-item">
        <h3 class="vegetables-subtitle">eggplant</h3>
        <p class="vegetables-list-text">60 USD / kg</p>
        <picture>
          <!-- Desktop -->
          <source
            media="(min-width:1280px)"
            srcset="
              /image/vegetables/eggplant-desktop.webp    1x,
              /image/vegetables/eggplant-desktop@2x.webp 2x
            "
          />

          <!-- Tablet -->
          <source
            media="(min-width:768px)"
            srcset="
              /image/vegetables/eggplant-tablet.webp    1x,
              /image/vegetables/eggplant-tablet@2x.webp 2x
            "
          />

          <img
            srcset="
              /image/vegetables/eggplant-mobile.webp    1x,
              /image/vegetables/eggplant-mobile@2x.webp 2x
            "
            src="/image/vegetables/eggplant-mobile.webp"
            alt="picture of eggplant"
            width="280"
            height="240"
            loading="lazy"
          />
        </picture>
      </li>
      <li class="vegetables-list-item">
        <h3 class="vegetables-subtitle">leek</h3>
        <p class="vegetables-list-text">50 USD / kg</p>
        <picture>
          <!-- Desktop -->
          <source
            media="(min-width:1280px)"
            srcset="
              /image/vegetables/leek-desktop.webp    1x,
              /image/vegetables/leek-desktop@2x.webp 2x
            "
          />

          <!-- Tablet -->
          <source
            media="(min-width:768px)"
            srcset="
              /image/vegetables/leek-tablet.webp    1x,
              /image/vegetables/leek-tablet@2x.webp 2x
            "
          />

          <img
            srcset="
              /image/vegetables/leek-mobile.webp    1x,
              /image/vegetables/leek-mobile@2x.webp 2x
            "
            src="/image/vegetables/leek-mobile.webp"
            alt="picture of leek"
            width="280"
            height="240"
            loading="lazy"
          />
        </picture>
      </li>
      <li class="vegetables-list-item">
        <h3 class="vegetables-subtitle">mushrooms</h3>
        <p class="vegetables-list-text">40 USD / kg</p>
        <picture>
          <!-- Desktop -->
          <source
            media="(min-width:1280px)"
            srcset="
              /image/vegetables/mushrooms-desktop.webp    1x,
              /image/vegetables/mushrooms-desktop@2x.webp 2x
            "
          />

          <!-- Tablet -->
          <source
            media="(min-width:768px)"
            srcset="
              /image/vegetables/mushrooms-tablet.webp    1x,
              /image/vegetables/mushrooms-tablet@2x.webp 2x
            "
          />

          <img
            srcset="
              /image/vegetables/mushrooms-mobile.webp    1x,
              /image/vegetables/mushrooms-mobile@2x.webp 2x
            "
            src="/image/vegetables/mushrooms-mobile.webp"
            alt="picture of mushrooms"
            width="280"
            height="240"
            loading="lazy"
          />
        </picture>
      </li>
      <li class="vegetables-list-item">
        <h3 class="vegetables-subtitle">corn</h3>
        <p class="vegetables-list-text">60 USD / kg</p>
        <picture>
          <!-- Desktop -->
          <source
            media="(min-width:1280px)"
            srcset="
              /image/vegetables/corn-desktop.webp    1x,
              /image/vegetables/corn-desktop@2x.webp 2x
            "
          />

          <!-- Tablet -->
          <source
            media="(min-width:768px)"
            srcset="
              /image/vegetables/corn-tablet.webp    1x,
              /image/vegetables/corn-tablet@2x.webp 2x
            "
          />

          <img
            srcset="
              /image/vegetables/corn-mobile.webp    1x,
              /image/vegetables/corn-mobile@2x.webp 2x
            "
            src="/image/vegetables/corn-mobile.webp"
            alt="picture of corn"
            width="280"
            height="240"
            loading="lazy"
          />
        </picture>
      </li>
      <li class="vegetables-list-item">
        <h3 class="vegetables-subtitle">sweet potatoes</h3>
        <p class="vegetables-list-text">50 USD / kg</p>
        <picture>
          <!-- Desktop -->
          <source
            media="(min-width:1280px)"
            srcset="
              /image/vegetables/sweet-potatoes-desktop.webp    1x,
              /image/vegetables/sweet-potatoes-desktop@2x.webp 2x
            "
          />

          <!-- Tablet -->
          <source
            media="(min-width:768px)"
            srcset="
              /image/vegetables/sweet-potatoes-tablet.webp    1x,
              /image/vegetables/sweet-potatoes-tablet@2x.webp 2x
            "
          />

          <img
            srcset="
              /image/vegetables/sweet-potatoes-mobile.webp    1x,
              /image/vegetables/sweet-potatoes-mobile@2x.webp 2x
            "
            src="/image/vegetables/sweet-potatoes-mobile.webp"
            alt="picture of sweet potatoes"
            width="280"
            height="240"
            loading="lazy"
          />
        </picture>
      </li>
      <li class="vegetables-list-item">
        <h3 class="vegetables-subtitle">carrot</h3>
        <p class="vegetables-list-text">40 USD / kg</p>
        <picture>
          <!-- Desktop -->
          <source
            media="(min-width:1280px)"
            srcset="
              /image/vegetables/carrot-desktop.webp    1x,
              /image/vegetables/carrot-desktop@2x.webp 2x
            "
          />

          <!-- Tablet -->
          <source
            media="(min-width:768px)"
            srcset="
              /image/vegetables/carrot-tablet.webp    1x,
              /image/vegetables/carrot-tablet@2x.webp 2x
            "
          />

          <img
            srcset="
              /image/vegetables/carrot-mobile.webp    1x,
              /image/vegetables/carrot-mobile@2x.webp 2x
            "
            src="/image/vegetables/carrot-mobile.webp"
            alt="picture of carrot"
            width="280"
            height="240"
            loading="lazy"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
