<!-- Секція Fresh Harvest Box -->
<section class="your-order" id="shopNow">
  <div class="container">
    <h2 class="visually-hidden">Your order</h2>
    <p class="order-title">
      Fresh <span class="pink-span">Harvest</span> Box has got you covered
    </p>
    <p class="order-text">
      Our boxes are packed with delicious, nutritious vegetables, perfect for
      anyone looking to eat healthier or support local farmers. Order your box
      today and start enjoying the best that nature has to offer!
    </p>
    <!--Бокс з формою-->
    <div class="flex">
      <div class="order-form">
        <h3 class="order-title-form">
          Ordering <span class="span-cherry"> from us</span> is quick and easy!
          Fill out<span class="span-apple"> the form</span> below and we will
          contact you !
        </h3>
        <form>
          <input
            class="order-input"
            type="text"
            name="user-name"
            placeholder="Full Name"
            aria-label="Enter your name"
            required
          />

          <input
            class="order-input"
            type="email"
            name="user-email"
            placeholder="Email"
            pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
            aria-label="Enter your email"
            required
          />

          <textarea
            class="order-comment"
            name="user-comment"
            placeholder="Comment"
            aria-label="Enter your comment"
          ></textarea>

          <button class="order-form-button" type="submit">SEND</button>
        </form>
      </div>
      <!--Бокс з фото та посиланням на соц. мережі-->
      <div class="order-social">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              /image/your-order/pic_desk@1x.webp 1x,
              /image/your-order/pic_desk@2x.webp 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /image/your-order/pic_tab@1x.webp 1x,
              /image/your-order/pic_tab@2x.webp 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /image/your-order/pic_mob@1x.webp 1x,
              /image/your-order/pic_mob@2x.webp 2x
            "
          />

          <img
            class="order-photo"
            src="/image/your-order/pic_mob@1x.webp"
            alt="A woman squeezes lemon juice into her drink"
            width="295"
            height="272"
            loading="lazy"
          />
        </picture>
        <p class="order-social-text">Follow us on our social networks:</p>
        <ul class="order-social-links">
          <li class="order-social-item">
            <a
              class="order-social-link"
              target="_blank"
              href="https://www.instagram.com/goitclub/"
              >INSTAGRAM</a
            >
          </li>
          <li class="order-social-item">
            <a
              class="order-social-link"
              target="_blank"
              href="https://www.facebook.com/goITclub/"
              >FACEBOOK</a
            >
          </li>
          <li class="order-social-item">
            <a
              class="order-social-link"
              target="_blank"
              href="https://www.youtube.com/c/GoIT"
              >YOUTUBE</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
