header {
  background-color: transparent;

  position: absolute;
  left: 0px;
  right: 0px;
  top: 20px;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-icon {
  width: 168px;
  height: 16px;
}

.nav-list {
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 8px;
}

.buy-button {
  display: none;
}

.menu-btn {
  border: none;
  background-color: transparent;
}

.menu-icon {
  width: 32px;
  height: 32px;
}

@media only screen and (min-width: 768px) {
  header {
    left: 0px;
    right: 0px;
    top: 32px;
  }

  .logo-icon {
    width: 216px;
    height: 20px;
  }
  .menu-icon {
    width: 40px;
    height: 40px;
  }
}

@media only screen and (min-width: 1280px) {
  .header-container {
    justify-content: center;
    align-items: center;
  }

  .logo-link {
    margin-right: 366px;
  }

  .nav-list {
    display: flex;

    margin-right: 20px;
  }

  .nav-link {
    font-size: 16px;
    line-height: 1.25;
    text-align: center;
    color: #fbfbfb;
    border: 1px solid #fbfbfb;
    border-radius: 12px;
    padding: 12px;
    width: 118px;
    height: 44px;

    transition: 250ms ease-in;
    transition-property: background-color, color;
  }

  .nav-link:focus {
    background-color: #d4bfc4;
    color: #7a3145;
    border: 1px solid transparent;
  }

  .nav-link:hover {
    border: 1px solid #d4bfc4;
    background-color: #d4bfc4;
    color: #7a3145;
  }

  .nav-link:active {
    background-color: #fbfbfb;
    color: #7a3145;
  }

  .menu-button {
    display: flex;
  }

  .menu-btn {
    display: none;
  }

  .buy-button {
    display: flex;
    justify-content: center;
  }

  .button-text {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.11;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #fbfbfb;
    background-color: #7a3145;

    border-radius: 30px;
    padding: 16px 32px;
    width: 157px;
    height: 52px;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: 250ms ease-in;
    transition-property: background-color, color;
  }

  .button-text:focus {
    background-color: #fbfbfb;
    color: #7a3145;
  }

  .button-text:hover {
    background-color: #d4bfc4;
    color: #7a3145;
  }

  .button-text:active {
    background-color: #fbfbfb;
    color: #7a3145;
  }
}
