.backdrop{
    display: none;
}

@media only screen and (max-width: 1279px) {

    .backdrop {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        visibility: hidden;
        pointer-events: none;
        opacity: 0;
        transition: 250ms ease-in;
        transition-property:  visibility, opacity;
        z-index: 999;
        overflow: hidden;

        font-weight: 500;
        font-size: 14px;
        line-height: 1.43;
        color: #fbfbfb
    }

    @media only screen and (min-width: 768px) {
        .backdrop {
            font-size: 16px;
            line-height: 1.25;
            background-color: rgba(20, 20, 20, 0.4);
        }
    }

    .backdrop.is-open{
        visibility: visible;
        pointer-events: auto;
        opacity: 1;
    }

    body:has(.backdrop.is-open){
        overflow: hidden;
    }

    @media only screen and (max-height: 419px) and (max-width: 767px) {
        .backdrop{
        overflow-y: scroll;
      }
    }

    @media only screen and (max-height: 499px) and (min-width: 768px) {
        .backdrop{
        overflow-y: scroll;
      }
    }

    .mobile-menu {
        position: absolute;
        top:0;
        right: 0;
        min-height: 420px;
        width: 100%;
        height: 100%;
        background-color: #576f35;
        transform: translateX(100%);
        transition: 250ms ease-in;
        transition-property: transform, visibility, opacity;
    }

    .backdrop.is-open .mobile-menu{
        transform: translateX(0);
    }

    @media only screen and (min-width: 768px) {
        .mobile-menu{
            width: 351px;
            min-height: 500px;
        }
    }

    .mobile-menu-container{
        position: relative;
        padding-top: calc((100vh - 180px - 52px - 52px ) * 0.56);
        padding-bottom: 52px;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    @media only screen and (max-height: 419px) {
        .mobile-menu-container{
            padding-top: calc((420px - 180px - 52px - 52px ) * 0.56);
      }
    }
    
    @media only screen and (min-width: 768px) {
        .mobile-menu-container{
            padding-top: calc((100vh - 180px - 52px - 48px ) * 0.49);
            padding-bottom: 48px;
        }

        @media only screen and (max-height: 499px) {
            .mobile-menu-container{
                padding-top: calc((500px - 180px - 52px - 48px ) * 0.49);
          }
        }
    }

    .mobile-menu-close-btn {
        position: absolute;
        top: 20px;
        right: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent ;
    }

    @media only screen and (min-width: 768px) {
        .mobile-menu-close-btn{
            top: 32px;
            right: 32px;
        }

        .close-btn-icon{
            width: 40px;
            height: 40px;
        }
    }
    
    @media (hover: hover){
        .mobile-menu-close-btn:hover,
        .mobile-menu-close-btn:focus{
            animation: animationCloseBtn 0.3s ease-in forwards;
            transform: scale(1.1);
        }
    }

    @media not (hover: hover){
        .mobile-menu-close-btn:active{
            animation: animationCloseBtn 0.3s ease-in forwards;
            transform: scale(1.1);
        }
    }



    @keyframes animationCloseBtn {
        0% {
                transform: rotate(-10deg);
        }
        50% {
            transform: rotate(10deg);
            transform: scale(1.05);
        }
        100% {
            transform: rotate(0);
            transform: scale(1.1);
        }
    }

    .nav {
        margin-bottom: calc((100vh - 180px - 52px - 52px ) * 0.44);
    }

    @media only screen and (max-height: 419px) {
        .nav{
            margin-bottom: calc((420px - 180px - 52px - 52px ) * 0.44);
      }
    }

    @media only screen and (min-width: 768px) {
        .nav {
            margin-bottom: calc((100vh - 180px - 52px - 48px ) * 0.51);
        }
    
        @media only screen and (max-height: 499px) {
            .nav{
                margin-bottom: calc((500px - 180px - 52px - 48px ) * 0.51);
            }
        }
    }

    .mobile-menu-nav-item:not(:last-child) {
        margin-bottom: 24px;
    }
    .mobile-menu-nav-link {
        display: block;
        margin: 0 auto;
        width: 118px;
        height: 44px;
        padding: 12px;
        text-align: center;
        border: 1px solid #fbfbfb;
        border-radius: 12px;
        background-color: transparent;
        transition: 250ms ease-in;
        transition-property: background-color, color;
    }

    @media only screen and (min-width: 768px) {
        .mobile-menu-nav-link{
        width: 122px;
    }
    }

    @media (hover: hover){
        .mobile-menu-nav-link:hover,
        .mobile-menu-nav-link:focus{
            background-color: #fbfbfb;
            color: #7a3145;
        }
    }

    @media not (hover: hover){
        .mobile-menu-nav-link:active{
            background-color: #fbfbfb;
            color: #7a3145;
        }
    }



    .mobile-menu-shop-btn {
        display: block;
        cursor: pointer;
        margin: 0 auto;
        text-align: center;
        border-radius: 30px;
        padding: 16px 41px;
        min-width: 175px;
        height: 52px;
        background-color: #7a3145;
        color: inherit;
        font-weight: 600;
        font-size: 18px;
        line-height: 1.11;
        letter-spacing: -0.01em;
        text-transform: uppercase;
        transition: 250ms ease-in;
        transition-property: border, background-color, color;
    }

    @media only screen and (min-width: 768px) {
        .mobile-menu-shop-btn{
        min-width: 157px;
        padding: 16px 32px;
    }
    }

    @media (hover: hover){
        .mobile-menu-shop-btn:focus,
        .mobile-menu-shop-btn:hover{
            border: 1px solid #fbfbfb;
            background-color: #fbfbfb;
            color: #7a3145;
        }
    }

    @media not (hover: hover){
        .mobile-menu-shop-btn:active{
            border: 1px solid #fbfbfb;
            background-color: #fbfbfb;
            color: #7a3145
        }
    }

    @keyframes bounceIn {
        0% {
            transform: translateY(-100%);
            opacity: 0;
        }
        60% {
            transform: translateY(15%);
            transform: rotateX(10deg);
            transform: rotateY(10deg);
            opacity: 1;
        }
        80% {
            transform: translateY(-5%);
            transform: rotateX(-10deg);
            transform: rotateY(-10deg);
        }
        100% {
            transform: translateY(0);
            transform: rotateX(0);
            transform: rotateY(0);
        }
    }

    .backdrop.is-open .mobile-menu-nav-link,
    .backdrop.is-open .mobile-menu-shop-btn{
        animation: bounceIn 0.8s ease-out forwards;
        animation-delay: 0.2s; 
        opacity: 1;
    }
    
}