
.vegetables-section {
    padding: 80px 0;
    background-color: #7a3145;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.43;
    color: #fbfbfb;

}

@media only screen and (min-width: 768px) {
    .vegetables-section {
        padding: 100px 0;

        font-size: 16px;
        line-height: 1.25;
    }
}

.vegetables-title {
    font-weight: 600;
    font-size: 48px;
    line-height: 1.08;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
   .vegetables-title{
    width: 508px;
    font-size: 64px;
    line-height: 1;
    margin-bottom: 24px;
  }
}

.vegetables-span{
    color: #d4bfc4;
}

.vegetables-text {
    margin-bottom: 40px;
}

@media only screen and (min-width: 768px) {
   .vegetables-text{
    margin-bottom: 52px;
    width: 626px;
  }
}

.vegetables-list {
    display: flex;
    flex-direction: column;
    gap:20px;
}

@media only screen and (min-width: 768px) {
    .vegetables-list{
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 28px;
  }
}

.vegetables-list-item {
    border-radius: 40px;
    background-color: #fbfbfb;
    padding: 32px 24px;
}

@media only screen and (max-width: 767px) {
   .vegetables-list-item{
    max-width: 335px;
  }
 
}

@media only screen and (min-width: 768px) {
   .vegetables-list-item{
    width: calc((100% - 24px) / 2);
    padding: 32px 30px;
  }
}

@media only screen and (min-width: 1280px) {
   .vegetables-list-item{
    padding: 32px;
    width: calc((100% - 24px * 2) / 3);
  }
  .vegetables-list-item img
  { max-width: 280px; }
  
  .vegetables-list-item:nth-child(5){ /* Maket issue */
    padding-right: 30px;
  }

  .vegetables-list-item:nth-child(5) img { /* Maket issue */
    width: 282px;
    height: 244px; 
  }
}

.vegetables-subtitle {
    font-weight: 600;
    font-size: 28px;
    line-height: 1;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #7a3145;
    margin-bottom: 12px;
}

@media only screen and (min-width: 768px) {
   .vegetables-subtitle{
    font-size: 32px;
  }
}

.vegetables-list-text {
    color: #141414;
    margin-bottom: 12px;
}

@media only screen and (min-width: 1280px) {
    .vegetables-list-text{
        margin-bottom: 8px;
  }
}