.your-order {
  background-color: #576f35;
  padding: 80px 0;
  color: #fbfbfb;
  margin: 0 auto;
}

.order-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 1.08;
  letter-spacing: -0.015em;
  text-transform: uppercase;
  margin-bottom: 20px;
  max-width: 335px;
}

.pink-span {
  color: #d4bfc4;
}

.order-text {
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43; 
}

.order-form {
  background-color: #fbfbfb;
  border-radius: 30px;
  padding: 40px 20px;
  margin: 0 auto;
}

.order-title-form {
  font-weight: 600;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.015em;
  text-transform: uppercase;
  color: #141414;
  margin-bottom: 40px;
}

.span-cherry {
  color: #7a3145;
}

.span-apple {
  color: #576f35;
}

.order-input {
  border: 1px solid #858585;
  border-radius: 30px;
  padding: 14px 16px;
  width: 100%;
  height: 48px;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.42857;
  color: #141414;
  outline: transparent;
  transition: focus 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-input:focus {
  border-color: #7a3145;
}

.order-input:not(:placeholder-shown):valid {
  border-color: #3cbc81;
}

.order-input:not(:placeholder-shown):invalid {
  border-color: #e74a3b;
}

.order-comment {
  border: 1px solid #858585;
  border-radius: 15px;
  padding: 16px;
  width: 100%;
  height: 92px;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.42857;
  color: #141414;
  outline: transparent;
  transition: focus 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-name::placeholder,
.order-email::placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.42857;
  color: #141414;
}

.order-form-button {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.111;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  border-radius: 30px;
  width: 100%;
  height: 52px;
  background-color: #7a3145;
  color: #fbfbfb;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-form-button:active {
  background-color: #fbfbfb;
  color: #7a3145;
  border: 2px solid #7a3145;
}

.order-social {
  border-radius: 30px;
  padding: 40px 20px;
  background-color: #7a3145;
}

.order-photo {
  width: 295px;
  height: 272px;
  border-radius: 30px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.order-social-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.42;
  color: #d4bfc4;
  margin-bottom: 16px;
}

.order-social-links {
  display: flex;
  flex-wrap: wrap;
  gap: 31px;
}

.order-social-item:last-child::after {
  content: "";
}

.order-social-item::after {
content: "/";
margin-left: 12px;
}

.order-social-link {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.11111;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
}

.flex {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* #endregion */

/* #region tablet */
@media (min-width: 768px) {
  .your-order {
    padding: 100px 0;
  }

  .order-title {
    font-size: 64px;
    line-height: 1;
    margin-bottom: 24px;
    width: 640px;
    max-width: 100%;
  }

  .order-text {
    margin-bottom: 52px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    width: 640px;
  }

  .order-form {
    padding: 72px 100px;
    margin: 0 auto;
    width: 640px;
    height: 632px;
  }

  .order-title-form {
    font-size: 32px;
    width: 440px;
    margin-bottom: 52px;
  }

  .order-name {
    height: 52px;
    margin-bottom: 16px;
    line-height: 1.25;
  }

  .order-email {
    padding: 16px 15px;
    height: 52px;
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.25;
  }

  .order-comment {
    padding: 16px 15px;
    height: 96px;
    margin-bottom: 24px;
    font-size: 16px;
    line-height: 1.25;
  }

  .order-name::placeholder,
  .order-email::placeholder,
  .order-comment::placeholder {
    font-size: 16px;
    line-height: 1.25;
  }

  .order-social {
    padding: 52px;
    width: 640px;
    height: 528px;
    margin: 0 auto;
  }
@media only screen and (min-width: 1280px) {
  .order-social {
    width: 524px;
    height: 592px;
  }
}
  .order-picture {
    margin: 0 auto;
  }

  .order-photo {
    width: 536px;
    height: 316px;
    margin-bottom: 52px;
  }

  .order-social-text {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
  }

  .order-social-links {
    gap: 12px;
  }

  .flex {
    gap: 32px;
  }
}

/* #endregion */

/* #region desktop */
@media (min-width: 1280px) {

  .order-title {
    width: 640px;
    margin-bottom: 24px;
  }

  .order-text {
    margin-bottom: 52px;
    width: 742px;
  }

  .order-form {
    width: 524px;
    height: 592px;
    border-radius: 30px;
    padding: 48px 52px;
    margin-bottom: 0;
  }

  .order-title-form {
    width: 428px;
    margin-bottom: 52px;
  }

  .order-form-button:focus,
  .order-form-button:hover {
    background: #d4bfc4;
    color: #7a3145;
    border: none;
  }

  .order-social {
    padding: 52px 48px;
  }

  .order-photo {
    height: 352px;
    margin-bottom: 80px;
  }

  .flex {
    flex-direction: row;
  }
}

/* #endregion*/
